<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <properties>
        <property name="LOG_HOME">/home/hirun/logs</property>
        <property name="FILE_NAME">hirun</property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %logger{36} %-5level %msg%n"/>
        </Console>
        <RollingRandomAccessFile name="running-log"
                                 fileName="${LOG_HOME}/${FILE_NAME}.log"
                                 filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout
                    pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} [%file:%line] %level %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Logger name="com.hirun" level="INFO" additivity="false">
            <AppenderRef ref="running-log"/>
        </Logger>
        <Logger name="com.most" level="INFO" additivity="false">
            <AppenderRef ref="running-log"/>
        </Logger>
        <Root level="ERROR">
            <AppenderRef ref="running-log"/>
        </Root>
    </Loggers>
</Configuration>