.p_index { font-weight:200; height:100%; position:relative;}
.p_index .side { float:left; width:18em; height:100%; background:#fff; position:relative;}
.p_index .side .user { padding:5em 0 3em; background:#4d5b65;}
.p_index .side .user .pic { padding:0 6em;}
.p_index .side .user .c_list { background:none;}
.p_index .side .user .c_list li { background:none; color:#fff;}
.p_index .side .user .c_list li .main .content { color:#acb1b4;}
.p_index .side .menu { padding:0.5em; position:absolute; width:100%; top:19em; bottom:0; box-sizing:border-box; background:#f7f7f7;}
.p_index .side .menu .c_list { background:none;}
.p_index .side .menu .c_list li { background:none;}
.p_index .main { overflow:hidden; position:relative; height:100%;}
.p_index .main .task { left:0; position:absolute; right:0; background:#4d5b65; color:#fff; padding-top:2.4em;}
.p_index .main .task li { float:left; cursor:default; padding:0 1em; line-height:2.4em; height:2.4em; overflow:hidden; width:12em; position:relative;}
.p_index .main .task li:first-child { width:auto;}
.p_index .main .task li:hover { background:#5f6c75;}
.p_index .main .task li:hover .close { display:block;}
.p_index .main .task li [class*="e_ico"] { vertical-align:top; display:inline-block;}
.p_index .main .task .on,
.p_index .main .task .on:hover { color:#333; background:#fff;}
.p_index .main .task .close { position:absolute; right:0; top:0; color:#fff; width:2.4em; text-align:center; color:#acb1b4; display:none;}
.p_index .main .task .close:hover { background:#717c84;}
.p_index > .main .content { position:absolute; top:4.8em; left:0; right:0; bottom:0;}
.p_index > .main .content iframe { width:100%; height:100%; vertical-align:top; display:block;}




.p_login { height:100%; background:#fff;}
.p_login > .logo { font-size:200%; line-height:2.8; color:#4d5b65; background:#fff; padding:0 1em;}
.p_login > .pannel { position:relative; height:40em; background:url(../img/login.jpg) no-repeat; background-size:100% 100%;}
.p_login > .pannel .c_float { width:24em; position:absolute; right:4em; top:4em; font-size:130%;}
.p_login > .pannel .c_float .c_list .main .title { font-weight:bold; font-size:140%; color:#4d5b65;}
.p_login .copyright { line-height:4; text-align:center; color:#4d5b65;}
.p_loginLinks a { display:inline-block; margin-left:1em;}
.s_phone .p_login > .logo { text-align:center;}
.s_phone .p_login > .pannel { background:none;}
.s_phone .p_login > .pannel .c_float { position:static !important; background:#fc0;}
.s_phone .p_login > .pannel .c_float .bg { display:none;}
.s_phone .p_login > .pannel .c_float > .content { position:static !important; border:0 none; box-shadow:none; padding-top:2em;}
.s_phone .p_login > .pannel .c_float .c_list { text-align:center;}
.s_phone .p_login .copyright { display:none;}

.e_pic-img-r img{ border-radius:50%; max-width:70%;}
.e_pic-img-r {  display:inline-block; margin:0.7em -1em 0 0.7em;}

.c_title .text{ color:#494471;}